/* Your code here */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.card-1 {
  position: relative;
  
}

.card-1 .background {
  position: absolute;
  top: 0;
  left:0 ;
  width: 10px;
  height: 10px;
  border: 40px solid;
  border-top-width: 40px;
  border-top-color: rgb(21, 243, 106);
  border-bottom-color: orange;
  border-right-color:rgb(63, 182, 142);
  border-left-color: red; 
  background-color: black;
  width: 3.5in;
  height: 2in;
  box-sizing: border-box;

 
}
  .card-1 .foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.5in;
  height: 2in;
}

.card-1 h1 {
  color:rgb(221, 213, 213);
  padding-left:60px;
  padding-top: 12px;
  font-family:Lobster;

}
.card-1 img {
  margin-left:109px;
  margin-top:-27px;
}

/* Card 2 */
.card-2{
  display:flex;
  flex-direction: column;
}
.card-2 .top {
  display:flex;
  flex-direction: row;
  height: 60%;
  width: 100%;
  background-color: rgb(131, 19, 169);
}
.card-2 .bottom {
  height: 40%;
  width: 100%;
  background-color: rgb(14, 44, 31);
  /*align-self: flex-end;*/
  display: flex;
  flex-direction: row;
}
.card-2 .top-right{
height: 100%;
width: 60%;
background-color:rgb(226, 230, 228);
display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;

}
 
.card-2 .top-left{
     height: 100%;
    width: 40%;
    background-color: rgb(226, 230, 228);
    display: flex;
    padding-top: 0px;
    margin-top: 0px;
    flex-direction: column;
    align-items: center;
}
  
  .card-2 .bottom-left{
    height: 100%;
    width: 50%;
    background-color: rgb(28, 75, 31);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }


  .card-2 .bottom-right{
    height: 100%;
    width: 50%;
    background-color: rgb(28, 75, 31);;
  }

  .cavalinho{
    height: 30%;
    width: 40%;
  }

  .PEGASUS {
    font-family:'Times New Roman', Times, serif;
    font-size: smaller;
    height: 15%;
    color:rgb(14, 44, 31);
    
  }
  /* eliminate margins within top-left */
  .card-2 p,.card-2 h1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .FINANCES {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    display: flex;
    height: 15%;
    color: rgb(28, 75, 31);
  }
  .name {
    font-family: 'Times New Roman', Times, serif;
    font-size:medium;
    color: rgb(28, 75, 31);
    display: flex;

  }
  .director{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    display: flex;
    color: rgb(175, 104, 16);
  }
  .information{
    font-family: 'Times New Roman', Times, serif; 
    font-size:x-small;
     color: rgb(173, 140, 100);
  }

  .card-3{
    background-color: black;
    border-radius: 15%;
     
  }
  
  .top {
height: 60%;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;

  }
  .bottom {
    height:40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end ;
    align-items: center;
  }

  .simbolo{ 
    height: 30px;
    width: 40px;
  }

  .justdoit{
    height: 56px;
    width: 124px;

  }

.card-3 h1{
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
}

 .card-3 .top h1 {
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

.card-3 .top p {
font-size: smaller;
font-family:Arial, Helvetica, sans-serif ;
color: aliceblue;
}

.card-3 .top p1{
  color: aliceblue;
  font-size: x-small;
}

.card-4{
   background-color: rgb(241, 106, 76);
}
.circle {
  width: 100px;
  height: 100px;
  background: rgb(245, 245, 245);
  border-radius: 50%;
  display: flex;
  position: absolute;

} 

.card-4 .background{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}