/* Your code here */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.card-1 {
  position: relative;
  
}

.card-1 .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border: 40px solid;
  border-top-width: 40px;
  border-top-color: rgb(243, 243, 21);
  border-bottom-color: orange;
  border-right-color:rgb(63, 182, 142);
  border-left-color: red; 
  background-color: black;
  width: 3.5in;
  height: 2in;
  box-sizing: border-box;

 
}
  .card-1 .foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.5in;
  height: 2in;
}

.card-1 h1 {
  color:rgb(221, 213, 213);
  padding-left:60px;
  padding-top: 12px;
  font-family:Lobster;

}
.card-1 img {
  margin-left:109px;
  margin-top:-27px;
}

/* Card 2 */
.card-2 .top {
  height: 60%;
  background-color: rgb(228, 219, 220);
}
.card-2 .bottom {
  height: 40%;
  background-color: rgb(14, 44, 31);
}
 .card-2 .top-left{
  height:10%;
  background-color:white;}
  .card-2 .bottom-left{
    height: 10%;
  }
.big {
  font-size: 40pt;
}